
<table>
<thead>
<tr>
<th>nro:</th>
<th>title:</th>
<th>description:</th>
<th>operations:</th>
<tbody>
  {{#each tasks}}  <! for de HBS>
<tr>
    <td>{{@index}}</td>
    <td>{{title}}</td>
    <td>{{description}}</td>
    <td>
        {{#if done}}
          <a href="/task/{{_id}}/toggleDone">Undone</a>
        {{else}}
          <a href="/task/{{_id}}/toggleDone">Done</a>
        {{/if}}
        
        <a href="/task/{{_id}}/delete">Delete</a>
        <a href='/task/{{_id}}/edit'>Update</a>
    </td>
</tr>
  {{/each}}
</tbody>
</tr>
</thead>
</table>
